Repository colav/Kahi_plugins, pull requests merged in 2024-02, with the labels that each got.

#210 [Kahi_scholar_works] fixed error processing doi
  Kahi_scholar_works/kahi_scholar_works/Kahi_scholar_works.py
Labels: Kahi_scholar_works

#250 [kahi_scienti_works] working in no doi support
  Kahi_scienti_works/README.md
  Kahi_scienti_works/kahi_scienti_works/Kahi_scienti_works.py
  Kahi_scienti_works/kahi_scienti_works/_version.py
  Kahi_scienti_works/kahi_scienti_works/parser.py
  Kahi_scienti_works/kahi_scienti_works/process_one.py
Labels: Kahi_scienti_works

#248 [kahi_staff_udea_person] implmented check datetime format
  Kahi_staff_udea_person/kahi_staff_udea_person/Kahi_staff_udea_person.py
  Kahi_staff_udea_person/kahi_staff_udea_person/_version.py
Labels: kahi_staff_udea_person

#252 [kahi_openalex_works] mohan
  Kahi_openalex_works/README.md
  Kahi_openalex_works/kahi_openalex_works/Kahi_openalex_works.py
  Kahi_openalex_works/kahi_openalex_works/_version.py
  Kahi_openalex_works/kahi_openalex_works/parser.py
  Kahi_openalex_works/kahi_openalex_works/process_one.py
  Kahi_openalex_works/setup.py
Labels: Kahi_openalex_works

#253 [kahi_scienti_works] Replace id and author name with the most complete record.
  Kahi_scienti_works/kahi_scienti_works/Kahi_scienti_works.py
  Kahi_scienti_works/kahi_scienti_works/_version.py
  Kahi_scienti_works/kahi_scienti_works/process_one.py
Labels: Kahi_scienti_works
