Repository colav/Kahi_plugins, pull requests merged in 2024-01, with the labels that each got.

#171 Revert previous commit and extraction of the mongodb connection
  Kahi_openalex_works/kahi_openalex_works/Kahi_openalex_works.py
  Kahi_openalex_works/kahi_openalex_works/_version.py
Labels: Kahi_openalex_works

#188 several fixes
  Kahi_scienti_person/kahi_scienti_person/Kahi_scienti_person.py
  Kahi_scienti_person/kahi_scienti_person/_version.py
Labels: Kahi_scienti_person

#189 fixed issue with group
  Kahi_scienti_affiliations/kahi_scienti_affiliations/Kahi_scienti_affiliations.py
  Kahi_scienti_affiliations/kahi_scienti_affiliations/_version.py
Labels: Kahi_scienti_affiliations
