Repository colav/Kahi_plugins, pull requests merged in 2024-03, with the labels that each got.

#263 [kahi_ranking_udea_works] working in support for no dois papers and i…
  Kahi_ranking_udea_works/README.md
  Kahi_ranking_udea_works/kahi_ranking_udea_works/Kahi_ranking_udea_works.py
  Kahi_ranking_udea_works/kahi_ranking_udea_works/_version.py
  Kahi_ranking_udea_works/kahi_ranking_udea_works/parser.py
  Kahi_ranking_udea_works/kahi_ranking_udea_works/process_one.py
  Kahi_ranking_udea_works/setup.py
Labels: Kahi_ranking_udea_works

#278 [kahi_staff_person] fixed person affiliation
  Kahi_staff_person/kahi_staff_person/Kahi_staff_person.py
  Kahi_staff_person/kahi_staff_person/_version.py
Labels: kahi_staff_person

#283 [Kahi_scienti_works] fixed duplicity of authors
  Kahi_scienti_works/kahi_scienti_works/process_one.py
Labels: Kahi_scienti_works, critical
